/vendor
/vendor_linux
/mirb
/mirb.depend
/bytecode.*
/bytecode
/bin
/build
/msvc/mirb/*
/msvc/mirb/mirb.*
!/msvc/mirb/mirb.vcxproj
!/msvc/mirb/mirb.sln
/mirb.exe
/mirb.layout
/cache
cache/*
/obj